/* @theme mamansoft */
@import "gaia";

/* 変数 */
:root {
  --color-foreground: #595959;
  --color-background: #fff;
  --color-primary: #3db680;
  --color-secondary: #ce579b;
  --color-ghoast: rgb(184, 188, 197);
}

/* 基本 */
section {
  padding: 15px 45px;
}

section h1 {
  color: var(--color-primary);
}
/* ページタイトル */
section > h2 {
  text-align: center;
}
section:not(.lead) > h2 {
  font-size: 1em;
  font-weight: 700;
}

/* フォント*/
@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+JP:wght@100..900&display=swap");
* {
  font-family: "Noto Sans JP", sans-serif;
  font-optical-sizing: auto;
  font-style: normal;
}

/* 装飾 */
section s {
  text-decoration: none;
  color: var(--color-ghoast);
}

/* 色 */
.text-foreground {
  color: var(--color-foreground);
}
.text-primary {
  color: var(--color-primary);
}
.text-secondary {
  color: var(--color-secondary);
}
.text-dimmed {
  color: var(--color-dimmed);
}
.text-ghoast {
  color: var(--color-ghoast);
}

/* フッター */
footer {
  text-align: center;
  font-size: 50%;
}

/* テーブル */
table {
  font-size: 80%;
}

/* レイアウト構成 (directive指定想定) */
section.full {
  padding: 0;
  margin: 0;
}

section.side-no-title {
  grid-template-rows: 1fr !important;
}

section.side-5-5 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 5fr 5fr;
  column-gap: 48px;
}
section.side-5-5 h1,
h2,
h3,
h4,
h5,
h6 {
  grid-column: 1 / -1;
}

section.side-3-7 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 3fr 7fr;
  row-gap: 16px;
  column-gap: 48px;
}
section.side-3-7 h1,
h2,
h3,
h4,
h5,
h6 {
  grid-column: 1 / -1;
}

section.side-2-8 {
  display: grid;
  grid-template-rows: auto 1fr;
  grid-template-columns: 2fr 8fr;
  row-gap: 16px;
  column-gap: 48px;
}
section.side-2-8 h1,
h2,
h3,
h4,
h5,
h6 {
  grid-column: 1 / -1;
}

/* レイアウト内構成 */
section blockquote {
  font-size: 75%;
  background-color: white;
  padding: 48px;
}
section blockquote a {
  display: block;
  margin-top: 24px;
  font-size: 75%;
  text-align: end;
  text-decoration: none;
}
section blockquote a::after {
  content: " より引用";
  font-size: 75%;
  color: var(--color-ghoast);
}

/* 要素 */
section .note {
  font-size: 70%;
  color: var(--color-ghoast);
}

section p:has(> img[alt~="center"]) {
  text-align: center;
}
section img[alt~="full"] {
  width: 100%;
}

section.narration-white > p {
  color: white;
  padding: 24px;
  font-size: 1.5em;
  font-weight: bold;
  background-color: #00000080;
}
